# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List popular libraries for Data Science
* List popular Data Science tools
* Use basic arithmetic expressions in Python

#### Some of the popular languages that Data Scientists use are

1. Python
2. R
3. Java

#### Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Scikit learn
3. Matplotlib

#### Data Science Tools

|Data Science Tools|
| ------------------- | 
| Jupyter Notebooks |
| Apache Hadoop |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [2]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

In [ ]:
9-hourstominutes.png

## Author
Monserrate Riera Mart√≠